body {
    margin: 0;
    padding: 0;
    background: #000;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    font-size: 90px;
    line-height: 80px;
    font-weight: bold;
    text-align: center;

    /* IMAGE FILE NAME */
    background: url("image.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;

    /* TEXT IMAGE EFFECT */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
